<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ls.qdaliy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".daliy.LaunchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".daliy.DetailActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".daliy.PaperCommentActivity"/>
        <activity android:name=".daliy.PaperVoteActivity"/>
        <activity android:name=".daliy.PaperChoiceActivity"/>
        <activity android:name=".daliy.TotsActivity"/>
        <activity android:name=".daliy.FeedActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".daliy.SearchACtivity"/>
    </application>

</manifest>